<footer class="footer">
  <div class="container footer__container">
    <a href="#" class="footer__logo-link">
      <img class="footer__logo" src="img/sprite/footer-logo.svg" alt="logo">
    </a>
    <div class="footer__content">
      <div class="footer__social social">
        <p class="social__caption">Flashing Case makes a great gift, fund raising item, business logo or promotion display.</p>
        <ul class="social__list">
          <li class="social__item">
            <a href="mailto:" class="social__link">
              <img src="img/sprite/mail-icon.svg" alt="mail icon">
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <img src="img/sprite/fb-icon.svg" alt="facebook icon">
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <img src="img/sprite/tg-icon.svg" alt="telegram icon">
            </a>
          </li>
          <li class="social__item">
            <a href="#" class="social__link">
              <img src="img/sprite/insta-icon.svg" alt="instagram icon">
            </a>
          </li>
        </ul>
      </div>
      <p class="footer__copyright">2021. All Rights Reserved.</p>
    </div>
  </div>
</footer>
