<section class="photo-slider">
  <div class="photo-slider__container">
    <div class="photo-slider__bg">
      <div class="photo-slider__col">
        <div class="photo-slider__bg-item">
          <div class="photo-slider__img-wrapper">
            <img src="img/slide-1@2x.png" alt="">
          </div>
          <div class="photo-slider__img-wrapper">
            <img src="img/slide-2@2x.png" alt="">
          </div>
        </div>
      </div>
      <div class="photo-slider__col">
        <div class="photo-slider__bg-item">
          <div class="photo-slider__img-wrapper">
            <img src="img/slide-3@2x.png" alt="">
          </div>
          <div class="photo-slider__img-wrapper">
            <img src="img/slide-4@2x.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="photo-slider__slider swiper-container js-photo-slider">
      <ul class="photo-slider__list swiper-wrapper">
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-1@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-2@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-3@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-4@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-5@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-6@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-7@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-8@2x.png" alt="">
        </li>
        <li class="photo-slider__slide swiper-slide">
          <img src="img/slide-9@2x.png" alt="">
        </li>
      </ul>
      <div class="photo-slider__button photo-slider__button_type_next swiper-button-next"></div>
      <div class="photo-slider__button photo-slider__button_type_prev swiper-button-prev"></div>
    </div>
  </div>
</section>
