<section class="photo-slider">
  <div class="photo-slider__container">
    <div class="photo-slider__bg">
      <div class="photo-slider__bg-item">
        <div class="photo-slider__img-wrapper">
          <img src="img/slide-1@2x.png" alt="">
        </div>
        <div class="photo-slider__img-wrapper">
          <img src="img/slide-2@2x.png" alt="">
        </div>
      </div>
      <div class="photo-slider__bg-item">
        <div class="photo-slider__img-wrapper">
          <img src="img/slide-3@2x.png" alt="">
        </div>
        <div class="photo-slider__img-wrapper">
          <img src="img/slide-4@2x.png" alt="">
        </div>
      </div>
    </div>
    <!-- <div class="photo-slider__slider js-photo-slider">
      <ul class="photo-slider__list">
        <li class="photo-slider__slide">
          <img src="img/slide-1.png" alt="">
        </li>
        <li class="photo-slider__slide">
          <img src="img/slide-2.png" alt="">
        </li>
        <li class="photo-slider__slide">
          <img src="img/slide-3.png" alt="">
        </li>
        <li class="photo-slider__slide">
          <img src="img/slide-4.png" alt="">
        </li>
      </ul>
    </div>
  </div> -->
</section>
