<section class="video-slider">
  <div class="container">
    <div class="video-slider__slider swiper-container js-video-slider">
      <ul class="video-slider__list swiper-wrapper">
        <li class="video-slider__slide swiper-slide">
            <video src="video/video-1.mp4" autoplay loop muted="muted" playsinline poster="img/poster.png"></video>
        </li>
        <li class="video-slider__slide swiper-slide">
          <video src="video/video-1.mp4" autoplay loop muted="muted" playsinline poster="img/poster.png"></video>
        </li>
        <li class="video-slider__slide swiper-slide">
          <video src="video/video-1.mp4" autoplay loop muted="muted" playsinline poster="img/poster.png"></video>
        </li>
        <li class="video-slider__slide swiper-slide">
          <video src="video/video-1.mp4" autoplay loop muted="muted" playsinline poster="img/poster.png"></video>
        </li>
        <li class="video-slider__slide swiper-slide">
          <video src="video/video-1.mp4" autoplay loop muted="muted" playsinline poster="img/poster.png"></video>
        </li>
        <li class="video-slider__slide swiper-slide">
          <video src="video/video-1.mp4" autoplay loop muted="muted" playsinline poster="img/poster.png"></video>
        </li>
      </ul>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
