.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.header__logo-link {
  margin-left: 20px;

  @media(max-width: 1440px){
    margin-left: 0;
  }
}
